@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("@/assets/fonts/FiraCode-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme static {
  --font-terminal: "Fira Code", monospace;

  /* Override default green color */
  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  /* Define new custom color */
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-200: #fecaca;
  --color-brand-300: #fca5a5;
  --color-brand-400: #f87171;
  --color-brand-500: #ef4444;
  --color-brand-600: #dc2626;
  --color-brand-700: #b91c1c;
  --color-brand-800: #991b1b;
  --color-brand-900: #7f1d1d;
  --color-brand-950: #450a0a;

  --color-primary-50: #f0f8ff;
  --color-primary-100: #e0f2ff;
  --color-primary-200: #bae6ff;
  --color-primary-300: #7dd3ff;
  --color-primary-400: #38b6ff;
  --color-primary-500: #0090ff;
  --color-primary-600: #0072cc;
  --color-primary-800: #003d66;
  --color-primary-700: #005799;
  --color-primary-900: #002a4d;
  --color-primary-950: #001a33;
  --color-secondary-50: #f3f6fa;
  --color-secondary-100: #e6edf5;
  --color-secondary-200: #c5d4e6;
  --color-secondary-300: #9fb7d6;
  --color-secondary-400: #6f92b8;
  --color-secondary-500: #3f6d9b;
  --color-secondary-600: #2c567f;
  --color-secondary-700: #1d3f63;
  --color-secondary-800: #142f4f;
  --color-secondary-900: #0d2847;
  --color-secondary-950: #081a33;

  --color-terminal-black: #04080f;
  --color-terminal-white: #818489;
}

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

:root {
  /* Border Radius général */
  --ui-radius: 0.25rem;
  --terminal: var(--color-terminal-white);

  /* Couleurs principales */
  --ui-primary: var(--color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  /* Couleur de texte */
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-600);
  --ui-text-toned: var(--ui-color-neutral-700);
  --ui-text: var(--ui-color-neutral-800);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: white;

  /* Couleur de background */
  --ui-bg: #f9f8f6;
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  /* --ui-bg-elevated: #df0505; */
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  /* Couleur des bordures */
  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-900);
}

.dark {
  /* Border Radius général */
  --ui-radius: 0.3rem;

  --terminal: var(--color-terminal-black);

  /* Couleurs principales */
  --ui-primary: var(--color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-200);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  /* Couleur de texte */
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: #c2e6ff;
  --ui-text-highlighted: #c2e6ff;
  --ui-text-inverted: var(--ui-color-neutral-900);

  /* Couleur de background */
  --ui-bg: #111927;
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-500);
  --ui-bg-inverted: white;

  /* Couleur des bordures */
  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-600);
  --ui-border-inverted: white;
}

@layer base {
  body {
    @apply transition-colors duration-100;
  }
}
