name: Deploy Frontend
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          npm ci --prefer-offline --no-audit --progress=false

      - name: Build Nuxt frontend
        working-directory: ./frontend
        run: |
          npm run build

      - name: Clean previous .output
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.RPI_HOST }}
          username: ${{ secrets.RPI_USER }}
          key: ${{ secrets.RPI_SSH_KEY }}
          port: ${{ secrets.RPI_PORT }}
          script: |
            echo "Cleaning old .output..."
            rm -rf ~/NohamDrive/frontend/.output

      - name: Transfer .output
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.RPI_HOST }}
          username: ${{ secrets.RPI_USER }}
          key: ${{ secrets.RPI_SSH_KEY }}
          port: ${{ secrets.RPI_PORT }}
          source: "frontend/.output"
          target: "~/.output"
